serveur/services/wsdl/ficheFichier.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
	targetNamespace="urn:CSP"
	xmlns:tns="urn:CSP"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:typens="urn:CSP"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
				<all>
					<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" />
					<element name="errorInfos" type="xs:anyType" />
				</all>
			</complexType>

			<complexType name="fichier">
				<all>
					<element name="idFiche" type="xsd:int"/>
					<element name="idFichier" type="xsd:int"/>
					<element name="md5" type="xsd:string"/>
					<element name="nomFichier" type="xsd:string"/>
					<element name="url" type="xsd:string"/>
					<element name="path" type="xsd:string"/>
					<element name="type" type="xsd:string"/>
					<element name="extension" type="xsd:string"/>
					<element name="principal" type="xsd:boolean"/>
				</all>
			</complexType>
			
			<complexType name="ArrayOfFichiers">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:fichier[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
		</xsd:schema>
	</wsdl:types>
	
	
	
	
	<message name="addFicheFichierRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idFiche" type="xsd:int"/>
		<part name="nomFichier" type="xsd:string"/>
		<part name="principal" type="xsd:boolean"/>
		<part name="content" type="xsd:string"/>
	</message>
	<message name="addFicheFichierResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="idFichier" type="xsd:int"/>
	</message>
	
	<message name="deleteFicheFichierRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idFichier" type="xsd:int"/>
	</message>
	<message name="deleteFicheFichierResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="getFicheFichiersRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idFiche" type="xsd:int"/>
	</message>
	<message name="getFicheFichiersResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="fichiers" nillable="true" type="tns:ArrayOfFichiers"/>
	</message>
	
	<message name="getFicheFichierRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idFichier" type="xsd:int"/>
	</message>
	<message name="getFicheFichierResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="fichier" type="tns:fichier"/>
	</message>
	
	
	<portType name="CspPorts">
		<operation name="addFicheFichier">
			<input  message="tns:addFicheFichierRequest"/>
			<output message="tns:addFicheFichierResponse"/>
		</operation>
		
		<operation name="deleteFicheFichier">
			<input  message="tns:deleteFicheFichierRequest"/>
			<output message="tns:deleteFicheFichierResponse"/>
		</operation>
		
		<operation name="getFicheFichiers">
			<input  message="tns:getFicheFichiersRequest"/>
			<output message="tns:getFicheFichiersResponse"/>
		</operation>
		
		<operation name="getFicheFichier">
			<input  message="tns:getFicheFichierRequest"/>
			<output message="tns:getFicheFichierResponse"/>
		</operation>
		
	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="addFicheFichier">
			<soap:operation soapAction="{BASE_URL}services/wsdl/ficheFichier.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteFicheFichier">
			<soap:operation soapAction="{BASE_URL}services/wsdl/ficheFichier.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getFicheFichiers">
			<soap:operation soapAction="{BASE_URL}services/wsdl/ficheFichier.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getFicheFichier">
			<soap:operation soapAction="{BASE_URL}services/wsdl/ficheFichier.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
	</binding>
	
	<service name="TourismSystemWebServiceFicheFichier">
		<documentation>Webservices ficheFichier de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="{BASE_URL}ficheFichier.php"/>
		</port>
	</service>

</definitions>