serveur/services/wsdl/utilisateurDroitTerritoire.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
	targetNamespace="urn:CSP"
	xmlns:tns="urn:CSP"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:typens="urn:CSP"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
				<all>
					<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" />
					<element name="errorInfos" type="xs:anyType" />
				</all>
			</complexType>
			
			<complexType name="ArrayOfDroitsChamp">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DroitChamp[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="DroitChamp">
				<all>
					<element name="visualisation" nillable="true" type="xsd:boolean"/>
					<element name="modification" nillable="true" type="xsd:boolean"/>
					<element name="validation" nillable="true" type="xsd:boolean"/>
				</all>
			</complexType>
			
			<complexType name="ArrayOfDroitsFiche">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="DroitFiche[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="DroitFiche">
				<all>
					<element name="visualisation" nillable="true" type="xsd:boolean"/>
					<element name="modification" nillable="true" type="xsd:boolean"/>
					<element name="validation" nillable="true" type="xsd:boolean"/>
					<element name="suppressionFiches" nillable="true" type="xsd:boolean"/>
				</all>
			</complexType>
			
			<complexType name="ArrayOfDroitsTerritoire">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="DroitTerritoire[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="DroitTerritoire">
				<all>
					<element name="visualisation" nillable="true" type="xsd:boolean"/>
					<element name="modification" nillable="true" type="xsd:boolean"/>
					<element name="validation" nillable="true" type="xsd:boolean"/>
					<element name="suppressionFiches" nillable="true" type="xsd:boolean"/>
					<element name="creationFiches" nillable="true" type="xsd:boolean"/>
					<element name="administration" nillable="true" type="xsd:boolean"/>
				</all>
			</complexType>
			
		</xsd:schema>
	</wsdl:types>
	
	
	
	
	<message name="setDroitTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
		<part name="droit" type="xs:anyType"/>
	</message>
	<message name="setDroitTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="setDroitTerritoireChampRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
		<part name="idChamp" type="xsd:int"/>
		<part name="droit" type="xs:anyType"/>
	</message>
	<message name="setDroitTerritoireChampResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="getDroitsTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:string"/>
	</message>
	<message name="getDroitsTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="droitsTerritoire" type="tns:ArrayOfDroitsTerritoire"/>
	</message>
	
	<message name="getDroitTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:string"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
	</message>
	<message name="getDroitTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="droitTerritoire" type="xs:anyType"/>
	</message>
	
	<message name="getDroitTerritoireChampRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
		<part name="idChamp" type="xsd:int"/>
	</message>
	<message name="getDroitTerritoireChampResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="droitsTerritoireChamp" type="tns:ArrayOfDroitsChamp"/>
	</message>
	
	<message name="deleteDroitTerritoireRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
	</message>
	<message name="deleteDroitTerritoireResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="deleteDroitTerritoireChampRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
		<part name="idFChamp" type="xsd:int"/>
	</message>
	<message name="deleteDroitTerritoireChampResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="setDroitTerritoireProfilRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
		<part name="idProfil" type="xsd:int" nillable="true" />
	</message>
	<message name="setDroitTerritoireProfilResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="unsetDroitTerritoireProfilRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
		<part name="bordereau" type="xsd:string"/>
		<part name="idTerritoire" type="xsd:int"/>
	</message>
	<message name="unsetDroitTerritoireProfilResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	

	
	
	
	<portType name="CspPorts">
		<operation name="setDroitTerritoire">
			<input  message="tns:setDroitTerritoireRequest"/>
			<output message="tns:setDroitTerritoireResponse"/>
		</operation>
		
		<operation name="setDroitTerritoireChamp">
			<input  message="tns:setDroitTerritoireChampRequest"/>
			<output message="tns:setDroitTerritoireChampResponse"/>
		</operation>
		
		<operation name="getDroitsTerritoire">
			<input  message="tns:getDroitsTerritoireRequest"/>
			<output message="tns:getDroitsTerritoireResponse"/>
		</operation>
		
		<operation name="getDroitTerritoire">
			<input  message="tns:getDroitTerritoireRequest"/>
			<output message="tns:getDroitTerritoireResponse"/>
		</operation>
		
		<operation name="getDroitTerritoireChamp">
			<input  message="tns:getDroitTerritoireChampRequest"/>
			<output message="tns:getDroitTerritoireChampResponse"/>
		</operation>
		
		<operation name="deleteDroitTerritoire">
			<input  message="tns:deleteDroitTerritoireRequest"/>
			<output message="tns:deleteDroitTerritoireResponse"/>
		</operation>
		
		<operation name="deleteDroitTerritoireChamp">
			<input  message="tns:deleteDroitTerritoireChampRequest"/>
			<output message="tns:deleteDroitTerritoireChampResponse"/>
		</operation>
		
		<operation name="setDroitTerritoireProfil">
			<input  message="tns:setDroitTerritoireProfilRequest"/>
			<output message="tns:setDroitTerritoireProfilResponse"/>
		</operation>
		
		<operation name="unsetDroitTerritoireProfil">
			<input  message="tns:unsetDroitTerritoireProfilRequest"/>
			<output message="tns:unsetDroitTerritoireProfilResponse"/>
		</operation>
		

	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="setDroitTerritoire">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="setDroitTerritoireChamp">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getDroitsTerritoire">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getDroitTerritoire">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getDroitTerritoireChamp">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteDroitTerritoire">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteDroitTerritoireChamp">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="setDroitTerritoireProfil">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="unsetDroitTerritoireProfil">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateurDroitTerritoire.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
	</binding>
	
	<service name="TourismSystemWebServiceUtilisateurDroitTerritoire">
		<documentation>Webservices utilisateurDroitTerritoire de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="{BASE_URL}utilisateurDroitTerritoire.php"/>
		</port>
	</service>

</definitions>