serveur/services/wsdl/utilisateur.wsdl

<?xml version="1.0"?>
<definitions name="CSP"
	targetNamespace="urn:CSP"
	xmlns:tns="urn:CSP"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:typens="urn:CSP"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">


	<wsdl:types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:CSP">
			<complexType name="WSstatus">
				<all>
					<element name="success" type="xsd:boolean"/>
					<element name="message" type="xsd:string"/>
					<element name="errorCode" type="xsd:int" />
					<element name="errorInfos" type="xs:anyType" />
				</all>
			</complexType>
			
			
			<complexType name="utilisateur">
				<all>
					<element name="idUtilisateur" type="xsd:int"/>
					<element name="idGroupe" type="xsd:int"/>
					<element name="typeUtilisateur" type="tns:typeUtilisateur[]"/>
					<element name="email" type="xsd:string"/>
					<element name="password" type="xsd:string" nillable="true"/>
				</all>
			</complexType>
			
			<complexType name="ArrayOfUtilisateurs">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:utilisateur[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			
			<simpleType name="typeUtilisateur">
				<restriction base="xsd:string"> 
					<enumeration value="desk"/>
					<enumeration value="manager"/>
					<enumeration value="system"/>
				</restriction>
			</simpleType>
			
			
			<simpleType name="controleChamp">
				<restriction base="xsd:string"> 
					<enumeration value="aucun"/>
					<enumeration value="visualisation"/>
					<enumeration value="modification"/>
				</restriction>
			</simpleType>
			
			<simpleType name="YesOrNo">
				<restriction base="xsd:string"> 
					<enumeration value="Y"/>
					<enumeration value="N"/>
				</restriction>
			</simpleType>
			
			
			<complexType name="ArrayOfSessions">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:session[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="session">
				<all>
					<element name="idUtilisateur" type="xsd:int"/>
					<element name="sessionId" type="xsd:string"/>
					<element name="sessionStart" type="xsd:string"/>
					<element name="sessionEnd" type="xsd:string"/>
					<element name="ip" type="xsd:string"/>
				</all>
			</complexType>
			
			
			
			<complexType name="ArrayOfDroits">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="xs:anyType"/>
					</restriction>
				</complexContent>
			</complexType>
			
			
			
			
			
			
			<complexType name="ArrayOfDroitsChamp">
				<complexContent mixed="false">
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="tns:DroitChamp[]"/>
					</restriction>
				</complexContent>
			</complexType>
			
			<complexType name="DroitChamp">
				<all>
					<element name="controleChamp" nillable="true" type="tns:controleChamp"/>
					<element name="validation" nillable="true" type="tns:YesOrNo"/>
				</all>
			</complexType>
			
			<complexType name="DroitFiche">
				<all>
					<element name="suppressionFiches" nillable="true" type="tns:YesOrNo"/>
					<element name="controleChamp" nillable="true" type="tns:controleChamp"/>
					<element name="validation" nillable="true" type="tns:YesOrNo"/>
					<element name="profil" nillable="true" type="tns:YesOrNo"/>
					<element name="libelle" nillable="true" type="xsd:string"/>
					<element name="idGroupe" nillable="true" type="xsd:int"/>
				</all>
			</complexType>
			
			<complexType name="DroitTerritoire">
				<all>
					<element name="administration" nillable="true" type="tns:YesOrNo"/>
					<element name="creationFiches" nillable="true" type="tns:YesOrNo"/>
					<element name="suppressionFiches" nillable="true" type="tns:YesOrNo"/>
					<element name="controleChamp" nillable="true" type="tns:controleChamp"/>
					<element name="validation" nillable="true" type="tns:YesOrNo"/>
					<element name="profil" nillable="true" type="tns:YesOrNo"/>
					<element name="libelle" nillable="true" type="xsd:string"/>
					<element name="idGroupe" nillable="true" type="xsd:int"/>
				</all>
			</complexType>

			
		</xsd:schema>
	</wsdl:types>
	
	
	
	
	<message name="createUtilisateurRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="email" type="xsd:string"/>
		<part name="typeUtilisateur" type="tns:typeUtilisateur"/>
		<part name="idGroupe" nillable="true" type="xsd:int"/>
	</message>
	<message name="createUtilisateurResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	
	<message name="deleteUtilisateurRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" type="xsd:int"/>
	</message>
	<message name="deleteUtilisateurResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="updateUtilisateurPasswordRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="oldPassword" type="xsd:string"/>
		<part name="newPassword" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	<message name="updateUtilisateurPasswordResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="updateUtilisateurGroupeRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
		<part name="idGroupe" nillable="true" type="xsd:int"/>
	</message>
	<message name="updateUtilisateurGroupeResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="sendPasswordRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	<message name="sendPasswordResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="reponse" type="xs:anyType" nillable="true" />
	</message>
	
	<message name="getUtilisateurRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	<message name="getUtilisateurResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="utilisateur" nillable="true" type="tns:utilisateur"/>
	</message>
	
	<message name="getUtilisateursRequest">
		<part name="sessionId" type="xsd:string"/>
	</message>
	<message name="getUtilisateursResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="utilisateurs" nillable="true" type="tns:ArrayOfUtilisateurs"/>
	</message>
	
	<message name="getSessionsUtilisateurRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	<message name="getSessionsUtilisateurResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="sessions" nillable="true" type="tns:ArrayOfSessions"/>
	</message>
	
	<message name="getDroitsUtilisateurRequest">
		<part name="sessionId" type="xsd:string"/>
		<part name="idUtilisateur" nillable="true" type="xsd:int"/>
	</message>
	<message name="getDroitsUtilisateurResponse">
		<part name="status" type="tns:WSstatus"/>
		<part name="droits" nillable="true" type="xs:anyType"/>
	</message>
	
	
	
	<portType name="CspPorts">
		<operation name="createUtilisateur">
			<input  message="tns:createUtilisateurRequest"/>
			<output message="tns:createUtilisateurResponse"/>
		</operation>
		
		<operation name="deleteUtilisateur">
			<input  message="tns:deleteUtilisateurRequest"/>
			<output message="tns:deleteUtilisateurResponse"/>
		</operation>
		
		<operation name="updateUtilisateurPassword">
			<input  message="tns:updateUtilisateurPasswordRequest"/>
			<output message="tns:updateUtilisateurPasswordResponse"/>
		</operation>
		
		<operation name="updateUtilisateurGroupe">
			<input  message="tns:updateUtilisateurGroupeRequest"/>
			<output message="tns:updateUtilisateurGroupeResponse"/>
		</operation>
		
		<operation name="sendPassword">
			<input  message="tns:sendPasswordRequest"/>
			<output message="tns:sendPasswordResponse"/>
		</operation>
		
		<operation name="getUtilisateur">
			<input  message="tns:getUtilisateurRequest"/>
			<output message="tns:getUtilisateurResponse"/>
		</operation>
		
		<operation name="getUtilisateurs">
			<input  message="tns:getUtilisateursRequest"/>
			<output message="tns:getUtilisateursResponse"/>
		</operation>
		
		<operation name="getSessionsUtilisateur">
			<input  message="tns:getSessionsUtilisateurRequest"/>
			<output message="tns:getSessionsUtilisateurResponse"/>
		</operation>
		
		<operation name="getDroitsUtilisateur">
			<input  message="tns:getDroitsUtilisateurRequest"/>
			<output message="tns:getDroitsUtilisateurResponse"/>
		</operation>
		

	</portType>


	<binding name="wsBinding"  type="typens:CspPorts">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createUtilisateur">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="deleteUtilisateur">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateUtilisateurPassword">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="updateUtilisateurGroupe">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="sendPassword">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getUtilisateur">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getUtilisateurs">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getSessionsUtilisateur">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
		<operation name="getDroitsUtilisateur">
			<soap:operation soapAction="{BASE_URL}services/wsdl/utilisateur.wsdl" style="rpc"/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		
	</binding>
	
	<service name="TourismSystemWebServiceUtilisateur">
		<documentation>Webservices utilisateur de Tourism System</documentation>
		<port name="CspPorts" binding="tns:wsBinding">
			<soap:address location="{BASE_URL}utilisateur.php"/>
		</port>
	</service>

</definitions>